<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>825899337068-2b0igdvpk3o4k6cj4m3j460a0rvk6bh4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.825899337068-2b0igdvpk3o4k6cj4m3j460a0rvk6bh4</string>
	<key>API_KEY</key>
	<string>AIzaSyBLJ6GncilUCP1ftsxzksVZTdIPuSivujI</string>
	<key>GCM_SENDER_ID</key>
	<string>825899337068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.spot-find.spot-find</string>
	<key>PROJECT_ID</key>
	<string>spot-find-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>spot-find-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:825899337068:ios:4c581144e2e2c571069f49</string>
</dict>
</plist>